*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 60px;
    background-color: black;
}

.main img{
    width: 250px;
}

.main button{
    padding: 10px 20px;
    background-color: #FF6F61;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 1.7rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}


.main button:hover {
    background-color: #FF4A3D;
    transform: scale(1.1);
}